# PostgreSQL Database URL
DATABASE_URL="postgresql://user:password@localhost:5432/seminar"

# JWT Secrets (Must be changed in production)
JWT_SECRET="super_secret_key_for_access_tokens"
JWT_REFRESH_SECRET="super_secret_key_for_refresh_tokens"

# Application Settings
PORT=1050
NODE_ENV=development

# Storage
UPLOAD_PATH=./storage/presentations_prod
