DATABASE_URL="postgresql://postgres:postgres@postgres:5432/seminar?schema=public"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="password"
POSTGRES_DB="seminar"
JWT_SECRET="supersecret_jwt_key_change_me_in_prod"
SESSION_SECRET="supersecret_session_key_change_me"
PORT=1050
PUBLIC_URL="http://localhost:1050"
UPLOAD_PATH="./storage/presentations"
